/* Globel */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: 1.5;
}

/* Header and Top Navigation*/

.hero-picture {
  background: url('../img/hero-image3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;


}

.logo {
  margin: 2% 0;
  height: 25%;
  width: 25%;
}

#site-logo {
  height: 20%;
  width: 100%;
  background-color: #fff;
}

#topnav {
  position: absolute;
  top: 0;
  left: 65%;
  overflow: none;
}

#topnav li{
  float: left;
  list-style-type: none;
  padding: 1em;
}

#topnav a{
text-decoration: none;
}

.hero h2,
.hero h3,
.hero p {
  text-align: center;
}


/* Hero */



/* Containers */

/* Sidebars */


/* Floats */




/* Clear-fix */

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

/* Links*/



/* Media Queries */
