.about-section::after
    content: ''
    position: absolute
    top: -6rem
    left: 0
    width: 35%
    height: 6%
    background-color: rgba($color-secondary, .7)

.about-section::before
    content: ''
    position: absolute
    top: -6rem
    right: 0
    width: 35%
    height: 6%
    background-color: rgba($color-secondary, .7)

.blog-section::after
    content: ''
    position: absolute
    top: -5rem
    left: 0
    width: 35%
    height: 5%
    background-color: rgba($color-secondary, .7)

.blog-section::before
    content: ''
    position: absolute
    top: -5rem
    right: 0
    width: 35%
    height: 5%
    background-color: rgba($color-secondary, .7)

.questions-section::after
    content: ''
    position: absolute
    top: -2rem
    left: 0
    width: 35%
    height: 5%
    background-color: rgba($color-secondary, .7)

.questions-section::before
    content: ''
    position: absolute
    top: -2rem
    right: 0
    width: 35%
    height: 5%
    background-color: rgba($color-secondary, .7)

.border__title
    position: absolute
    top: -5.5rem
    left: 42%
    font-size: 1.2rem
    &__blog
    top: -4.5rem