.category-section
    position: relative
    margin-top: 7rem

.category__title
    text-align: center
    background: rgba($color-secondary, .8)
    margin: 0
    color: $color-white
    position: relative

.dropdown-list
    background: linear-gradient(to right bottom, #0092c1, #00a0c6, #00aec7, #00bbc3, #00c7bd) 
    margin-bottom: 2rem
    max-height: 0
    overflow: hidden
    text-align: center
    color: $color-white
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px
    margin: 0

.dropdown-active
    max-height: 6rem
    display: block
    transform: scale(1)
    overflow: auto
    transition: all .4s

.dropdown-inactive
    max-height: 0
    transform: scale(0)
    transition: all .4s    

.dropdown-open
    transform: rotate(-90deg) 
    transition: all .4s

.dropdown-close
    transform: rotate(90deg) 
    transition: all .4s
