.category-section
    position: relative
    margin-top: 7rem
   

.category__title
    text-align: center
    background: rgba($color-secondary, .8)
    margin: 0
    color: $color-white
    position: relative
    line-height: 1.3

.dropdown-list
    background: linear-gradient(to right bottom, #0092c1, #00a0c6, #00aec7, #00bbc3, #00c7bd) 
    margin-bottom: 2rem
    display: none
    overflow: hidden
    text-align: center
    color: $color-white
    // border-bottom-left-radius: 10px
    // border-bottom-right-radius: 10px
    margin: 0

.category__
    &location
        color: inherit


.display
   display: block
   transition: all .5s ease-out
   background: $color-grey-dark
   transform: scale()1