.btn 
  display: inline-block;
  text-transform: uppercase;
  font-family: $title-font-family;
  text-shadow: 0 2px 13px $color-black
  box-shadow: 0 3px 15px $color-black
  color: $color-white
  background: rgba($color-secondary, .8)
  font-weight: 700
  border-radius: 5px
  text-align: center
    
    
      
  &--read-more
    display: block
    width: 100%
    font-size: 1.5em
    @media (min-width: $tablet-screen)
      width: 80%
      margin: 0 auto    
  &--small
    font-size: .8em
    width: 60%
    padding: .2em

  &--submit
    display: block
    width: 40%
    margin: 0 auto