.btn 
  display: inline-block;
  text-transform: uppercase;
  font-family: $title-font-family;

  &--welcome
    font-size: 3em;
    color: $color-primary;
    font-weight: 
    border-bottom: 5px solid $color-secondary;
    padding: 0 .3em;
    text-shadow: 0 .1em $color-white;

    &:hover 
      background: $color-secondary;
      border: none;
      border-radius: 5px;
      text-shadow: none;
      

