.grid
 &-home-page
  @media (min-width: $tablet-screen)
     display: grid
     grid-template-columns: 3fr 3fr 2fr
     grid-gap: 3rem
  .about-section
    grid-column: 1 / 4
  .blog-section, .questions-section, .travel-section
    grid-column: 1/3
  .side-bar
    grid-column: 3/4
    grid-row: 2/5
  .border__title
    display: none
 &-blog-home
    @media (min-width: $large-screen)
        display: grid
        grid-template-columns: repeat(2, 2fr)
        grid-row: 1fr 2fr
        grid-row-gap: 2rem
 &-tips-home
    @media (min-width: $large-screen)
        display: grid
        grid-template-columns: repeat(2, 2fr)
        grid-row: auto
        grid-gap: 2rem
 &-pictures
    display: grid
    grid-gap: 2rem
 &-about-page
   display: grid
   grid-template-columns: 4fr 4fr 2fr
   & > .side-bar
     grid-column: 3/4
   & .about-us-section
     grid-column: 1/3
 &-header
    display: grid
    grid-template-columns: auto 300px auto
    grid-template-rows: auto 1fr 2fr
    @media screen and (min-width: $tablet-screen)
      grid-template-columns: auto 800px auto
      grid-row-gap: 3rem

.home-nav
  grid-column: 1/ 4
.home-items
  grid-column: 2/3
  grid-row: 2 /span 2
  
// .ayesha--pic
//   grid-row: 1/2
// .stephanie--pic
//   grid-row: 2/3
// .ericka--pic
//   grid-row: 3/4
.about-us--ayesha, .about-us--stephanie, .about-us--ericka
    display: grid
    grid-template-columns: repeat(3, 2fr)
    grid-template-rows: 100px 1fr auto

.about-us__pic
  grid-row: 1 /3
  grid-column: 1 /4

.about-us__title
  grid-row: 1/2
  grid-column: 3/4

.about-us__social
  grid-row: 2/3
  grid-column: 3/4

.about-us__summary
  grid-row: 3/4
  grid-column: span 3

