.about-section
    width: 80vw
    margin: 0 auto
    transform: translate(8%, -6%)


.about__title
    font-size: 2rem

.about__images
    display: flex
    justify-content: space-around
    position: absolute
    top: 80%
    left: 40%

.about__name__ayesha::after,
.about__name__stephanie::after,
.about__name__ericka::after
    content: ""
    position: absolute
    display: block
    width: 2rem
    height: 2rem
    border-radius: 50%
    background: $color-primary
