.home__header
    width: 100vw
    height: 100vh
    background: url("../img/home-header.jpg")
    background-position: 46% 82%
    background-repeat: no-repeat
    // display: block
    background-attachment: fixed
    position: relative
    // display: flex
    // justify-content: space-between

// .intro
//     position: absolute
//     bottom: 0
//     width: 100%
//     background: $color-secondary
//     border-radius: 10px
//     &__1, &__2
//      color: $color-primary
//      letter-spacing: 3px
//      font-weight: 700
//      text-align: center
//      text-shadow: 2px -3px 5rem $color-white