.home__header
    width: 100vw
    height: 100vh
    background: url("../img/home-header.jpg")
    background-size: cover
    background-repeat: no-repeat
    position: relative
    @media (max-width: $small-screen) 
        background-position: 28% 70%

    // @media (min-width: 414px) 
    //     background-position: 45% 100%
    
.home-items
     width: 80%
     margin: 0 auto
     transform: translateY(50%)
     @media (min-width: $tablet-screen)
        max-width: 50%

.logo
    width: 300px
    display: block
    margin: 0 auto

.header-title
    color: $color-primary
    text-align: center
    

.home-items__text
    background: rgba($color-white, .7)
    border-radius: 10px
    